<div color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div color="secondary">
        <button mat-button><mat-icon>arrow_upward</mat-icon></button>        
        <h1>69</h1>
        <button mat-button><mat-icon>arrow_downward</mat-icon></button>
    </div>
    <p>ez egy gecis komment</p>
</div>

<!-- majd ha gucci gang akkor a felso kuka es ezt kell hasznalni helyette-->
<!-- <div color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <div color="secondary">
            <button mat-button><mat-icon>arrow_upward</mat-icon></button>        
            <h1>{{ comment.votes }}</h1>
            <button mat-button><mat-icon>arrow_downward</mat-icon></button>
        </div>
        <p>{{ comment.text }}</p>
    </div> -->