<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <!--Home Button-->
  <button mat-button routerLink="/" fxFlex="10">
    <strong>New Reddit</strong>
  </button>
  <!--Subreddits-->
  <button mat-button routerLink="/" fxFlex="20">Subreddits</button>
  <!--Search-->
  <mat-form-field class="searchbar" fxFlex="30 58 58" fxFlexOffset="1">
    <input matInput type="search">
    <mat-placeholder class="placeholder">Search New Reddit</mat-placeholder>
  </mat-form-field>
  <!--Create Post Button-->
  <button mat-button routerLink="/" fxFlex="1">
    <mat-icon>add_box</mat-icon>
  </button>
  <!--Profile Button-->
  <button mat-button routerLink="/profile" fxFlex="10">My Profile</button>
</mat-toolbar>

<div class="content" role="main">
  <!--Ide jönnek majd a routerből a cumók-->
  <reddit-comment></reddit-comment>
  <router-outlet></router-outlet>
  <img src="https://i.redd.it/nb2tfijjwov01.gif">
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>