<!-- Toolbar -->
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <!--Home Button-->
  <button mat-button routerLink="/" fxFlex="10">
    <strong>New Reddit</strong>
  </button>
  <!--Subreddits-->
  <button mat-button routerLink="/" fxFlex="20">Subreddits</button>
  <!--Search-->
  <mat-form-field class="searchbar" fxFlex="30 58 58" fxFlexOffset="1">
    <input matInput type="search">
    <mat-placeholder class="placeholder">Search New Reddit</mat-placeholder>
  </mat-form-field>
  <!--Create Post Button-->
  <button mat-button routerLink="/" fxFlex="1">
    <mat-icon>add_box</mat-icon>
  </button>
  <!--Profile Button and logout-->
  <div *ngIf="authService.isLoggedIn" fxFlex="10">
    <button mat-button>My Profile</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!authService.isLoggedIn" fxFlex="10">      
      <button mat-button routerLink="/login">Login</button>
    </div>
</mat-toolbar>
