<div class="list-group" fxLayout="column" fxLayoutAlign="center center">
    <!--Poszt-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div color="secondary" fxLayout="column" fxLayoutAlign="center center">
            <button mat-button>
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <h1>{{ post.votes }}</h1>
            <button mat-button>
                <mat-icon>arrow_downward</mat-icon>
            </button>
        </div>
        <div>
            <h2>{{ post.title }}</h2>
            <p *ngIf="post.content!=''">{{ post.content }}</p>
            <img *ngIf="post.pic!=''"
                [src]="_DomSanitizationService.bypassSecurityTrustUrl('localhost:8080/api'+post.pic)" width="200"
                height="100" />
        </div>
    </div>
    
    <h1>Comments:</h1>
    <!--Poszthoz tartozó kommentek-->
    <div *ngFor="let comment of comments" fxLayout="row" fxLayoutAlign="space-between center">
        <div color="secondary" fxLayout="row" fxLayoutAlign="space-between center">
            <div color="primary">
                <button mat-button>
                    <mat-icon>arrow_upward</mat-icon>
                </button>
                <h1>{{ comment.votes }}</h1>
                <button mat-button>
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>
            <p>{{ comment.text }}</p>
        </div>
    </div>
</div>