<div class="list-group" fxLayout="column" fxLayoutAlign="center center">
    <!--Poszt-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div color="secondary">
            <button mat-button>
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <h1>{{post.votes}}</h1>
            <button mat-button>
                <mat-icon>arrow_downward</mat-icon>
            </button>
        </div>
        <p>{{ post.content }}</p>
    </div>
    <h1>Comments:</h1>
    <!--Poszthoz tartozó kommentek-->
    <div *ngFor="let comment of comments" fxLayout="row" fxLayoutAlign="space-between center">
        <div color="secondary" fxLayout="row" fxLayoutAlign="space-between center">
            <div color="primary">
                <button mat-button>
                    <mat-icon>arrow_upward</mat-icon>
                </button>
                <h1>{{ comment.votes }}</h1>
                <button mat-button>
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>
            <p>{{ comment.text }}</p>
        </div>
    </div>
</div>